
API_HASH="41a0189c83fa2f1fb2805a37db370878"
API_ID=8779238
AUTH=2071363970
BOT_TOKEN="5935732918:AAFs09LuFfuKSle6aELE84yTfFmyt_

CuBGw"
FORCESUB="primexmov"
SESSION="BQCF9eYARnhLi8Uu8vCb6CNdLvxA8jcxaFHidBvlLEl5bFHkCmntqBrr6DNALIYSADXsK9KZfd0mDT2_

gdWk8Xnhcll1kVKtPn6pYRyXbe-yxZhKl4hErekARd2plrW5_bLAgc71ETvssmSaRTP8djo4bBxv75BoPwL8xVi3oaDZlKv0cXoeaGqGhOT6C4FAuvhBXcNxIC_Gn8pJkeeb-xIBgCD9WTj8A6B80k_xeSwlsVgNuSCwR5ss7oRGQfKR5VFTpQsHJbYAZD3UyohTDn6iM3l9BTXHMvcpKrH2zUK1PqScqaV8Y9soGsQiKpGdC9auBgYhozUKgSdA7jKYKNzD5ieEXQAAAAAfQRsDAA"

gaurav old 9050
BQCF9eYAGEMkh9PozY4JmNqd3_mz39DUUsmDASGyXsWIwWLtca3UJPRIa0AkR5EQPaIl5Xtv4lTwno988T6fhtxB_

BlQOjUEQRzoiSLH3WyRJ2E_RCRoV_0MyDTZx1xItfquefW9ye0nHn2ybaGJccfptTnKhop0m1TKP4wDa6SNxjd89C3oDR-UTqFCBL3I7LDIzSP3jSlWkJAAQHDFSXg2wcSPOQntz_RdAmtj0AIcoRwaqxBWRUwjyvm8ZpVHeQyMKeTHucmTujDg4AWLHcRbkYyWr4-ObMUD7H3cwy7WjzLmyKZLcgXt7we3X9P8CFgOYf_W2-aLAh_R6FbJbnFUZdzsMwAAAAAaOYDbAA

gaurav new 
BQCF9eYAU1Nb73Ou4aHX7F5aZck7F9w2nRcaP99YVcNYwgm32BWIFfCsFE27M90JsTx7TB3-

qaEUzuBipbRqmCHLSUnxOh2oJQJdrBbdkhv2cevbL48SNsL9y5zU6nQ7522GJqg0POk24E6-OCkJFO1gVvm2rhjZ9ijz0GPEv0dEzboWoL6TxAi7-6ENP504Mk1jVJTFMmudZ8ObCHEpNGo0hSTLzJDiWFpWpZfIh7HcwG3LEUH0RLxnzwN4-6wRRefyjNKueO-sfKY2hiVOdA-9iQvwRlOlkU5MZpxakZesnMvnXacYH-wQfGChfBZxTfLjyb5pn-LjdzcxzJlKMrZ3QPcHogAAAABFVMCqAA
