#Github.com-Vasusen-code

https://github.com/manish-dalal/Telethon/archive/refs/tags/v1.24.0.zip
https://github.com/manish-dalal/ethon/archive/refs/tags/v0.1.5.zip
cryptg
tgcrypto
pyrogram==2.0.106
python-decouple
flask
gunicorn
